<div class="col-md-6">
    <canvas id="signature-bar-chart"></canvas>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var options = {};
        var data = {
            labels: ["Block", "Warning", "Message"],
            datasets: [{
                label: 'Statistiques',
                data: [{{ category1 }}, {{ category2 }}, {{ category3 }}],
                backgroundColor: [
                    'red',
                    'yellow',
                    'green'
                ],


                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        };
        var myBarChart = new Chart($('#signature-bar-chart'), {
            type: 'bar',
            data: data,
            options: options
         });
    })


</script>
